.hoppe {
  color: var(--dark-colors-white-dark);
}
.shop,
.shoppe {
  position: relative;
  display: inline-block;
}
.shoppe {
  margin: 0;
  width: 158px;
  font-size: inherit;
  line-height: 40.5px;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
  white-space: nowrap;
}
.shop {
  line-height: 27px;
  min-width: 38px;
}
.shopWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.blog {
  position: relative;
  line-height: 27px;
  display: inline-block;
  min-width: 32px;
}
.blogWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.ourStory {
  position: relative;
  line-height: 27px;
  display: inline-block;
  min-width: 72px;
  white-space: nowrap;
}
.frameChild {
  width: 1px;
  height: 18px;
  position: relative;
  border-right: 1px solid var(--dark-colors-light-gray-dark);
  box-sizing: border-box;
}
.menu,
.menuInner {
  display: flex;
  align-items: flex-start;
}
.menuInner {
  height: 21px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.menu {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.iconColor {
  width: 19px;
  height: 19px;
  position: relative;
}
.iconColorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.shoppingCart1Icon {
  width: 21px;
  height: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.shoppingCart1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.iconColor1 {
  height: 20px;
  width: 20px;
  position: relative;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  width: 138px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.menuParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.head,
.headInner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.headInner {
  width: 504px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  font-size: var(--px-heading-5-size);
  color: var(--dark-colors-white-dark);
  font-family: var(--px-heading-5);
}
.head {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-tan-100);
  font-family: var(--font-allerta-stencil);
}
.img01Icon {
  height: 646px;
  width: 1248px;
  position: relative;
  border-radius: var(--br-base);
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.div,
.goldBigHoops {
  position: relative;
  z-index: 1;
}
.goldBigHoops {
  margin: 0;
  width: 352px;
  font-size: inherit;
  line-height: 43px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.div {
  align-self: stretch;
  font-size: var(--px-heading-2-size);
  line-height: 35px;
  white-space: nowrap;
}
.goldBigHoopsParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.button01Child {
  height: 53px;
  width: 193px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--dark-colors-black-dark);
  display: none;
}
.v {
  text-transform: uppercase;
}
.iew {
  text-transform: lowercase;
}
.p {
  text-transform: uppercase;
}
.roduct {
  text-transform: lowercase;
}
.viewProduct {
  height: 26px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.button01,
.frameGroup,
.headerInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button01 {
  border-radius: var(--br-7xs);
  background-color: var(--dark-colors-black-dark);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-12xl) var(--padding-sm);
  white-space: nowrap;
  z-index: 1;
  font-size: var(--px-heading-4-size);
  color: var(--dark-colors-white-dark);
}
.frameGroup,
.headerInner {
  flex-direction: column;
  max-width: 100%;
}
.frameGroup {
  align-self: stretch;
  gap: var(--gap-29xl);
}
.headerInner {
  width: 395px;
  padding: 0 0 var(--padding-182xl);
  box-sizing: border-box;
  min-height: 396px;
}
.sliderIcon {
  height: 16px;
  width: 107.4px;
  position: relative;
  z-index: 1;
}
.headParent,
.header {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.header {
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-207xl) var(--padding-20xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-117xl);
  background-image: url(/public/img-01@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.headParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--px-heading-1-size);
  color: var(--dark-colors-black-dark);
  font-family: var(--px-heading-5);
}
@media screen and (max-width: 1050px) {
  .goldBigHoops {
    font-size: var(--px-heading-2-size);
    line-height: 34px;
  }
}
@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }
  .menuParent {
    gap: var(--gap-5xl);
  }
  .header {
    flex-wrap: wrap;
    gap: var(--gap-49xl);
    padding-top: var(--padding-128xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .goldBigHoops {
    font-size: var(--px-heading-4-size);
    line-height: 26px;
  }
  .div {
    font-size: var(--font-size-2xl);
    line-height: 28px;
  }
  .frameGroup {
    gap: var(--gap-5xl);
  }
  .headerInner {
    padding-bottom: var(--padding-112xl);
    box-sizing: border-box;
  }
  .header {
    gap: var(--gap-15xl);
  }
}
